<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Animation CSS -->
    <link href="static/css/animate.css" rel="stylesheet">
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">

    <link href="static/css/plugins/slick/slick.css" rel="stylesheet">
    <link href="static/css/plugins/slick/slick-theme.css" rel="stylesheet">
</head>
<body id="page-top" class="landing-page no-skin-config">
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" >传递梦想·传播希望</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">个人主页</a></li>
                        <li><a class="page-scroll" href="#features">技术博客</a></li>
                        <li><a class="page-scroll" href="#team">生活经历</a></li>
                        <li><a class="page-scroll" href="#testimonials">工作经历</a></li>
                        <li><a class="page-scroll" href="#friendshiplinks">友情链接</a></li>
                        <li><a class="page-scroll" href="#contact">联系我</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>一只程序猿</h1>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <h1>一名退伍兵</h1>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- 技术博客 -->
<section id="features" class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>学习的不仅是技术，<span class="navy"> 更是梦想！</span> </h1>
            <p>Learning is not only technology but also a dream! </p>
        </div>
    </div>
    <div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a href="article.html" class="btn-link">
                        <h2>
                            第一篇文章.
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>杨明全</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 2018年3月</span>
                        <p>第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>标签:</h5>
                            <button class="btn btn-white btn-xs" type="button">java</button>
                            <button class="btn btn-white btn-xs" type="button">jsp</button>
                            <button class="btn btn-white btn-xs" type="button">servlet</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>统计:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 23次评论 </div>
                                <i class="fa fa-eye"> </i> 34次查看
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a href="article.html" class="btn-link">
                        <h2>
                            第一篇文章.
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>杨明全</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 2018年3月</span>
                        <p>第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>标签:</h5>
                            <button class="btn btn-white btn-xs" type="button">java</button>
                            <button class="btn btn-white btn-xs" type="button">jsp</button>
                            <button class="btn btn-white btn-xs" type="button">servlet</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>统计:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 23次评论 </div>
                                <i class="fa fa-eye"> </i> 34次查看
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a href="article.html" class="btn-link">
                        <h2>
                            第一篇文章.
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>杨明全</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 2018年3月</span>
                        <p>第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.第一篇文章.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>标签:</h5>
                            <button class="btn btn-white btn-xs" type="button">java</button>
                            <button class="btn btn-white btn-xs" type="button">jsp</button>
                            <button class="btn btn-white btn-xs" type="button">servlet</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>统计:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 23次评论 </div>
                                <i class="fa fa-eye"> </i> 34次查看
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <a class="btn btn-lg btn-primary" href="/blogs" role="button">READ MORE+</a>
        </div>
    </div>
</section>
<!-- 技术博客 -->

<!-- 生活经历 -->
<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>生活经历</h1>
                <p>Life experience</p>
            </div>
        </div>
        <div class="wrapper wrapper-content">

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="slick_demo_2">
                        <div>
                            <div class="ibox-content">
                                <h2>古北水镇</h2>
                                <p>
                                    <img height="180" width="220" src="static/img/gbsz1.jpg" />
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content">
                                <h2>古北水镇</h2>
                                <p>
                                    <img height="180" width="220" src="static/img/gbsz2.jpg" />
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content">
                                <h2>古北水镇</h2>
                                <p>
                                    <img height="180" width="220" src="static/img/gbsz3.jpg" />
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content">
                                <h2>古北水镇</h2>
                                <p>
                                    <img height="180" width="220" src="static/img/gbsz4.jpg" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

        </div>
    </div>
</div>
<!-- 生活经历 -->


<!-- 工作 -->
<section id="testimonials" class="timeline container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>工作经历</h1>
                <p>work experience</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <div class="vertical-timeline-content">
                            <h2>北京普巴软件有限公司</h2>
                            <p>北京普巴软件有限公司</p>
                            <a href="#" class="btn btn-xs btn-primary"> 公司详情</a>
                            <span class="vertical-date"> JAVA开发工程师 <br/> <small>2015-07 ~ 2017-07</small> </span>
                        </div>
                    </div>
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <div class="vertical-timeline-content">
                            <h2>北京瑞和智电科技股份有限公司</h2>
                            <p>北京瑞和智电科技股份有限公司</p>
                            <a href="#" class="btn btn-xs btn-primary"> 公司详情</a>
                            <span class="vertical-date"> 高级软件工程师 <br/> <small>2017-07 ~ 至今</small> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 工作 -->

<!-- 友情链接 -->
<section id="friendshiplinks" class="container team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>友情链接</h1>
                <p>Friendship links</p>
            </div>
        </div>
    </div>
</section>
<!-- 友情链接 -->

<!-- 联系我 -->
<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>联系我</h1>
                <p>contact me</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    作者：杨明全<br/>
                    邮箱：yangmq@aliyun.com<br/>
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    如果您对本网站有什么看法或者建议，请您使用邮箱联系我。我会在第一时间回复大家。
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:yangmq@aliyun.com" class="btn btn-primary">给我发邮件</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2018 </strong><br/></p>
            </div>
        </div>
    </div>
</section>

<!-- Mainly scripts -->
<script src="static/js/jquery-3.1.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="static/js/inspinia.js"></script>
<script src="static/js/plugins/pace/pace.min.js"></script>
<script src="static/js/plugins/wow/wow.min.js"></script>

<!-- slick carousel-->
<script src="static/js/plugins/slick/slick.min.js"></script>
<!-- Additional style only for demo purpose -->
<style>
    .slick_demo_2 .ibox-content {
        margin: 0 10px;
    }
</style>
<script>

    $(document).ready(function () {

        $('.slick_demo_2').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            centerMode: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

</body>
</html>
